@import "tailwindcss";

@layer utilities {
  .font-molend {
    font-family: "molend", sans-serif;
  }
  .font-helvetica {
    font-family: "Helvetica Neue", sans-serif;
  }
}

@theme inline {
  --color-black: #0b0b0b;
  --color-white: #eeeeee;
  --color-dark-grey: #1e1e1e;
  --color-light-purple: #c369df;
  --color-dark-purple: #660a83;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer components {
  h1 {
    color: var(--color-white);
    font-family: "molend", sans-serif;
  }

  input {
    background-color: var(--color-white);
    color: var(--color-black);
    padding: 1rem;
  }

  input:active,
  input:focus {
    outline: 3px solid var(--color-light-purple);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translate(-50%, -20px);
  }
  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

.animate-fade-in {
  animation: fade-in 0.3s ease-out;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
