@import "tailwindcss";

:root {
  --black: #0b0b0b;
  --white: #eeeeee;
  --light-purple: #c369df;
  --dark-purple: #660a83;
  --dark-grey: #1e1e1e;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--black);
  color: var(--white);
  font-family: "helvetica neue", helvetica, arial, sans-serif;
}
