@import "tailwindcss";

@theme inline {
  --color-black: #0b0b0b;
  --color-white: #eeeeee;
  --color-dark-grey: #1e1e1e;
  --color-light-purple: #c369df;
  --color-dark-purple: #660a83;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer components{
  .typography {
   h1{
    color: var(--color-light-purple);
   }

  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* body {
  background: var(--black);
  color: var(--white);
  font-family: "helvetica neue", helvetica, arial, sans-serif;
} */
